<a href="https://colab.research.google.com/github/jonathannocek/yahoo-finance-stocks/blob/master/src/yahoo_stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Yahoo Stock Data**

### **Part 1: Import packages**

In [2]:
import requests
import pandas as pd 
!pip install yahoo_fin
from yahoo_fin import stock_info as si
!pip install pandas_datareader
from pandas_datareader import DataReader
import numpy as np


# Constants
SP_500_TICKERS = si.tickers_sp500()
BASE_URL_1 = 'https://query2.finance.yahoo.com/v10/finance/quoteSummary/'
BASE_URL_2 = '?formatted=true&crumb=swg7qs5y9UP&lang=en-US&region=US&' \
              'modules=upgradeDowngradeHistory,recommendationTrend,' \
              'financialData,earningsHistory,earningsTrend,industryTrend&' \
              'corsDomain=finance.yahoo.com'
stock_data = []

Collecting yahoo_fin
  Downloading https://files.pythonhosted.org/packages/d3/5c/6bf0c0147cc94d643e2a2413d0a9b27967e964ee99f88f26db93a0b963b8/yahoo_fin-0.8.6-py3-none-any.whl
Installing collected packages: yahoo-fin
Successfully installed yahoo-fin-0.8.6
Warning - Certain functionality
             requires requests_html, which is not installed.

             Install using:
             pip install requests_html

             After installation, you may have to restart your Python session.
Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.6/dist-packages (0.8.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (4.2.6)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (2.23.0)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (1.0.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas_datareader) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas_datareader) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas_datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas_datareader) (1.15.0)

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

### **Part 2: Gather data**

In [6]:
for ticker in SP_500_TICKERS:
    # Get url and make request
    url = BASE_URL_1 + ticker + BASE_URL_2
    response = requests.get(url)
    response_json = response.json()

    # Pull Recommendation from stock data
    if not response.ok:
        rating = None
    try:
        results_json = response_json['quoteSummary']['result'][0]
        rating = results_json['financialData']['recommendationMean']['fmt']
    except:
        rating = None

    stock_data.append(rating)

# Create pandas dataframe and insert data   
df = pd.DataFrame(list(zip(SP_500_TICKERS, stock_data)), columns =['Company', 'Rating']) 
df = df.set_index('Company')

df.head()

        Rating
Company
A         2.40
AAL       3.30
AAP       2.30
AAPL      2.20
ABBV      1.90

In [8]:
df.transpose()

Company     A   AAL   AAP  AAPL  ABBV   ABC  ...   XYL   YUM   ZBH  ZBRA  ZION   ZTS
Rating   2.40  3.30  2.30  2.20  1.90  2.40  ...  2.80  2.60  1.90  2.30  2.70  2.10

[1 rows x 505 columns]

### **Part 3: Save to CSV**

In [14]:
from google.colab import drive
import datetime

drive.mount('drive')
now = datetime.datetime.now()
filename = f"yahoo_stock_data_{now.year}_{now.month}_{now.day}.csv"
df.to_csv(filename)

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).
yahoo_stock_data_2020_8_22.csv
/content
cp: cannot stat 'filename': No such file or directory